{{ $faq := .Site.Data.faq }}
{{ $title := $faq.title }}
{{ $description := $faq.description }}

<section class="bg-warning py-5">

  <h2 class="text-center ">FAQ</h2>
  <p class="text-muted pb-5"></p>

  <div class="row no-gutters justify-content-center">
    <div class="col-lg-6 col-md-8 col-11">

        <div class="accordion" id="accordionExample">

            {{ range $index, $element := $faq.faq }}
            <div class="bg-white shadow rounded mb-3">
              <div class="" id="headingquestion-{{ $index }}">
                <h5 class="mb-0">

                  <a class="p-3 d-block collapsed h5" data-toggle="collapse" data-target="#collapsequestion-{{ $index }}" aria-expanded="true" aria-controls="collapsequestion-{{ $index }}">
                    {{ .title }}
                    <span class="float-right"></span>
                  </a>
                </h5>
              </div>

              <div id="collapsequestion-{{ $index }}" class="collapse" aria-labelledby="headingquestion-{{ $index }}" data-parent="#accordionExample">
                <div class="card-body text-muted">
                  {{ .description }}
                </div>
              </div>
            </div>
            {{end}}
        </div>

    </div>
  </div>
</section>
